[alias]
	br = branch
	ch = checkout
	co = commit
  coa = commit --amend -C HEAD
  cop = commit -p
  di = diff
	fe = fetch
	me = merge
  ps = push
  pl = pull
	re = reset
  rb = rebase
	st = status
  dt = difftool
  hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
  lol = log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  mylog = log --pretty=format:'%h %s [%an]' --graph
[branch]
	autosetuprebase = always
[color]
	ui = true
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	preloadindex = true
[diff]
	tool = ydiff
	guitool = ydiff
[difftool.ydiff]
  cmd = ydiff -s -w 0 --wrap
[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[include]
  path = ~/.gitconfig.local
[merge]
	defaulttoupstream = true
	tool = bc3
[mergetool]
	prompt = false
	keepbackup = false
[push]
	default = current
[pull]
  rebase = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
