[alias]
    coa = commit --amend -C HEAD
	ch = checkout
	br = branch
	co = commit
	st = status
	re = reset
    rb = rebase
	fe = fetch
    di = diff
    ps = push
    pl = pull
	me = merge
    cop = commit -p
[branch]
	autosetuprebase = always
[color]
	ui = true
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[diff]
	tool = bc3
	guitool = bc3
[difftool]
	prompt = false
[include]
    path = ~/.gitconfig.local
[merge]
	defaulttoupstream = true
	tool = bc3
[mergetool]
	prompt = false
	keepbackup = false
[push]
	default = current
