" IdeaVIM Commands Index
http://ideavim.sourceforge.net/vim/index.html

" Open quickfix window at bottom of screen with full-width
" :autocmd FileType qf wincmd J
botright cwindow

" Change Leader to <Space>
nnoremap <SPACE> <Nop>
let mapleader=" "

" QuickFix Window Enhancements 
" p to Open Preview Window
autocmd FileType qf nnoremap <silent><buffer> p :PreviewQuickfix<cr>
" P to Close Preview Window
autocmd FileType qf nnoremap <silent><buffer> P :PreviewClose<cr>
" Automatically close the preview window when quickfix closes
" autocmd BufDelete <buffer> if &buftype == 'quickfix' | :pc! | endif     " Never Worked
" autocmd FileType qf autocmd BufDelete <buffer> echom "Hey"              " Console Log Example
autocmd FileType qf autocmd BufDelete <buffer> :pc! 

" Undo / Redo
noremap U <C-r>

" Easy Buffer Delete
nnoremap <Leader>q :Bdelete!<CR>
nnoremap <Leader>Q :bufdo :Bdelete<CR>

" Hybrid Line Numbering
" https://jeffkreeftmeijer.com/vim-number/
:set number relativenumber
:augroup numbertoggle
:  autocmd!
:  autocmd BufEnter,FocusGained,InsertLeave * set relativenumber
:  autocmd BufLeave,FocusLost,InsertEnter   * set norelativenumber
:augroup END

" Yank to system clipboard
map <Leader>y "+y

" Cursor Cues
set showmatch           " Show matching brackets when text indicator on top of one
set cursorline          " Show highlight on current line

" Status Bar / Title Bar
set ruler               " Show current position
set title               " Show the filename
set showcmd             " Show commands when entered

" Hybrid Line Numbering
" https://jeffkreeftmeijer.com/vim-number/
:set number relativenumber
:augroup numbertoggle
:  autocmd!
:  autocmd BufEnter,FocusGained,InsertLeave * set relativenumber
:  autocmd BufLeave,FocusLost,InsertEnter   * set norelativenumber
:augroup END

" Buffer Auto-Save / Read Options
set autoread            " Automatically re-read the file when it changes on the filesystem and does not change in the buffer

" Tabbing and Shifting
set expandtab           " Insert spaces when TAB is pressed.
set tabstop=4           " Render TABs using this many spaces.
set shiftwidth=2        " Indentation amount for < and > commands.
vnoremap < <gv
vnoremap > >gv
noremap <F3> :Autoformat<CR>

" Visual Mode Selection Searches
" See http://vim.wikia.com/wiki/Search_for_visually_selected_text
vnoremap // y/\V<C-R>"<CR>
"vnoremap // y/\V<C-r>=escape(@",'/\')<CR><CR>
vnoremap /? y/\V<C-R>"<CR> 



" SEARCH: Formatting
"set magic              " Set magic on, for regexps
set hlsearch            " Highlight search pattern matches

" SEARCH: Matching Behavior
set incsearch           " Make search look within strings
set ignorecase          " Required for smartcase to work
set smartcase           " Do case-sensitive search when target includes capitals

" SEARCH: Goto next and prev centers the screen
nnoremap n nzz
nnoremap N Nzz 

" SEARCH: Shortcut for global search and replace
nnoremap <C-/> :%s/

" Register Rotation
:nnoremap <Leader>s :let @a=@" \| let @"=@+ \| let @+=@a<CR>

" Syntax Highlighting
syntax enable           " enable syntax color schemes without overwriting existing highlighting rules

" QuickFix Window Enhancements 
" p to Open Preview Window
autocmd FileType qf nnoremap <silent><buffer> p :PreviewQuickfix<cr>
" P to Close Preview Window
autocmd FileType qf nnoremap <silent><buffer> P :PreviewClose<cr>
" Automatically close the preview window when quickfix closes
" autocmd BufDelete <buffer> if &buftype == 'quickfix' | :pc! | endif     " Never Worked
" autocmd FileType qf autocmd BufDelete <buffer> echom "Hey"              " Console Log Example
autocmd FileType qf autocmd BufDelete <buffer> :pc! 












